* {
    margin: 0;
    border: 0;
    padding: 0;
}

PersonImage img {
    text-align: center;
    height: 100px;
    width: 100px;
}

.align-all {
    width: 150px;
    text-align: center;
}

.card-bg {
    background-color: #999999;
    display: grid;
    max-width: 150px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
